.home {
  position: relative;
  width: 640px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

.home-text {
  margin-bottom: 20px;
  font-family : Helvetica, OpenSans, Arial, sans-serif;
  font-size : 22px;
  color : #5d5d5d;
}

.signupButton {
  width: 300px;
  height: 60px;
  background-color: #4383D2;
  border-radius: 30px;
  border-width: 0px;
  font-family : Helvetica, OpenSans, Arial, sans-serif;
  font-size : 30px;
  font-weight : 600;
  color: #fff;
  cursor: pointer;
}

.signupButton:hover {
  background-color: #3373C2;
}
